.paginator {
  position: absolute;
  bottom: -15px;
  margin-left: 10px;
  width:100%;
  height:50px;   /* Высота блока "footer" */
}

.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}
