.profile {
    height: 250px;
    width: 250px;
}

.descriptionBlock {
    padding: 10px;
}

.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: solid red 2px;
    padding: 5px;
    color: red;
}